meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Bilingüismo, neologismos e interpretación de la lengua de señas colombiana
meta(meta name="description" content="La aparición de nuevos fenómenos permite el aumento de conceptos tecnológicos y científicos multiplicando el crecimiento de nuevos términos y palabras. Muchas de estas nuevas palabras son procedentes de otras lenguas y son adaptadas al español o se prestan en una forma de neologismos que han cobrado fuerza con la asociación de nuevos conceptos. Los neologismos enriquecen el léxico, permitiendo a los usuarios de lengua de señas categorizar e interpretar de una manera más sencilla.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")