h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'El bilingüismo', 'main.html#page/bilinguismo/')
                    +navTemaItem('2', 'Los neologismos', 'main.html#page/neologismos/')
                    +navTemaItem('3', 'La interpretación', 'main.html#page/interpretacion/')
