h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 240201067 - 02 – Transferir el discurso equivalente de la lengua origen a la lengua meta según los componentes sociolingüísticos y culturales.