.container
    .header-ecored
        h1 1. El Bilingüismo
    .jumbotron.bg-white
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Cwn7HqdWvDU', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')      

        .sub-ecored.mt-5#11 
            h2 1.1 Definición y clasificación

        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid 
            .col 
                p De acuerdo con Macnamara, como se citó en Cárdenas (2018), el bilingüismo #[strong se define como la capacidad de desarrollar algún nivel de competencia: hablar, leer, entender, escribir en una segunda lengua], lo que implica el desarrollo de procesos de orden cognitivo de asimilación, integración y comprensión de las ideas, así como la expresión y verbalización de estas, involucrando así los procesos de pensamiento y lenguaje.
                img.img-a.img-r(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

                .jumbotron.bg-1.mt-5
                    h2.mb-0.color-1 “Todo aquel que vive una situación bilingüe en Lengua de Señas Colombiana y castellana, escrito u oral según el caso”

        p Para el caso de la población sorda de acuerdo con la Ley 982 de 2005 en su artículo 1, numeral 9, el sordo bilingüe es #[i #[strong “todo aquel que vive una situación bilingüe en Lengua de Señas Colombiana y castellana, escrito u oral según el caso”]], por lo cual utiliza dos (2) lenguas para establecer comunicación tanto con la comunidad sorda que utiliza la lengua de señas, como con la comunidad oyente que usa castellano. Por su parte en el numeral 12 se entiende por educación bilingüe para sordos “la que reconoce que hay sordos que viven una situación bilingüe en Lengua de Señas Colombiana y castellano”, por lo tanto, su educación debe vehiculizar a través de la Lengua de Señas Colombiana y se debe facilitar el castellano como segundo idioma en su modalidad escrita primordialmente u oral en los casos en que esto sea posible.

        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid 
            .col 
                .hr-yellow.mb-5
                p De acuerdo con Herrera y Calderón (2019), desde el Congreso de Hamburgo realizado #[strong en 1980 se reconoce el derecho de las personas sordas a recibir educación bilingüe en su lengua natural]. La Organización de Naciones Unidas reconoce este derecho en la Convención de Derechos de las Personas con Discapacidad en 2006, que Chile ratifica en 2008 y reafirma en la Ley 20.422 de igualdad de oportunidades e inclusión social de las personas con discapacidad, promulgada en 2010.  
                .hr-yellow.mt-5       

        .row.justify-content-center.align-items-center.mt-5
            .col 
                p Con relación a la clasificación, el lingüista Weinreich, como se citó en Signore (2003), propone que existen, dos tipos de bilingüismo: el coordinado y el compuesto; para comprender el primero de ellos, el niño desarrolla dos sistemas lingüísticos paralelos, es decir, para una palabra, dispone de dos significantes y de dos significados. El compuesto, corresponde al niño que tiene un solo significado para dos significantes; no es capaz de detectar las diferencias conceptuales marcadas en los dos idiomas, sino que necesita de los dos idiomas para pensar y comunicarse.                       
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid 

        p Para Hael (2018), con relación a la población sorda se puede encontrar tres tipos de bilingüismo. #[strong En primer lugar, un bilingüismo limitado], en el que la competencia en ambas lenguas es pobre. #[strong En segundo lugar, un bilingüismo desequilibrado], en el que existe una buena competencia solamente en una de las dos lenguas. #[strong En tercer lugar, un bilingüismo equilibrado] en el que la competencia se desarrolla de manera adecuada para ambas lenguas.

        .sub-ecored.mt-5#12
            h2 1.2 Conceptos de bilingüismo

        .jumbotron.bg-2
            .row.justify-content-center.align-items-center
                .col 
                    h2.mb-0.color-1 Para el caso específico de la población sorda Hael (2018), cita a otros autores que conceptúan el término bilingüismo así:                      
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid   

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4 
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img6.png").img-fluid                             
            .col-12.col-md-6 
                p.mb-0 El bilingüismo aplicado a la educación del sordo tiene que aludir específicamente al derecho que tienen los sujetos con una lengua minoritaria a ser educados en esa lengua. Sostiene que en la educación bilingüe y bicultural del sordo es fundamental la apropiación y la valorización de la propia lengua por sí misma y también en contraste con la segunda lengua, además de que se debe sostener la lengua de señas a lo largo de todo el trayecto educativo y debe difundírsela más allá de los límites de la escuela, así como la cultura sorda.

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4 
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img7.png").img-fluid                             
            .col-12.col-md-6 
                p.mb-0 Sostiene que la educación bilingüe favorece en mayor medida el aprendizaje de la lectura en niños sordos, en contraposición con las opciones de educación monolingüe –basadas en la adquisición del español como única lengua tanto en su nivel oral como escrito– que entrenan simultáneamente el aprendizaje de la lengua oral y la escritura. En general, aquellos que acceden a una educación monolingüe poseen menos conocimiento sobre el mundo y menor vocabulario que aquellos que acceden a una educación bilingüe.

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4 
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img8.png").img-fluid                             
            .col-12.col-md-6 
                p.mb-0 Hacen referencia a este término implicando el oralismo derivado de los implantes cocleares, que muchas veces considera que, por el hecho de haber introducido el implante coclear en el sordo, se convierte automáticamente en oyente y se lo educa solamente en lengua oral –y escrita– dejando de lado la lengua de señas.                                

        .sub-ecored.mt-5#13 
            h2 1.3 Aprendizaje de una segunda lengua                

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img9.png").img-fluid                             
            .col
                pEl aprendizaje de una segunda lengua es un proceso que implica no solo el acercamiento a unos contenidos específicos, conceptos, códigos gramaticales entre otros, sino la apropiación y la comprensión de estos, lo cual requiere ir más allá de la repetición, en un sentido más profundo podría hablarse de la adquisición de una segunda lengua. De acuerdo con Alonso (1997), este proceso de adquisición implica dos modalidades del cerebro, a través del cual los conocimientos pasarían a formar parte de la memoria a largo plazo, adquiriendo a través de ello la competencia para producir el lenguaje. 

                p De acuerdo con Paul y Moores, como se citó en Herrera y Calderón (2019), desde las epistemologías de sordos se reconoce la autoridad académica de los sordos, se valora la experiencia de la sordera en la generación de conocimiento educativo y se explicitan las diferencias en las formas de conocer y aprender de los sordos. La enseñanza del español desde este enfoque busca proveer respuestas sociales a las necesidades de aprendizaje de los sordos como estudiantes bilingües, a través de propuestas educativas que consideren las características individuales y las prácticas sociales de la población sorda.       
        
              
        .row.justify-content-center.align-items-center.mt-5  
            .col-10     
                img.img-a.img-l(src="assets/images/pages/ilustraciones/img10.png").img-fluid    
                .jumbotron.bg-2                   
                    h3.color-1 Las buenas prácticas de enseñanza de la lectura con sordos requieren al menos cinco componentes:
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Desarrollar habilidades de pensamiento de orden superior, que implica procesar la información que recibimos y resolver problemas concretos.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Comunicación fluida entre profesores y estudiantes para fomentar mejores aprendizajes, ello implica disponer de variadas habilidades comunicativas. 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Visualizar la información, la organización y los apoyos para mejorar la comprensión, la retención y la memorización. 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Enseñanza explícita, presentar los objetivos, mostrar la tarea y ejemplificarla, guiar su puesta en práctica y proveer oportunidades para ejercitarla hasta lograrla.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Andamiaje y mediación durante la interacción guiada para el logro de los aprendizajes.

        p.mt-5 En la educación bilingüe del sordo es primordial que se desarrolle de manera completa la lengua de señas, que además debe ser estudiada por el sordo en todos sus niveles: fonológico, morfológico, sintáctico y discursivo, para lo que se debe llevar a cabo un proceso de estandarización y debe ser el vehículo de enseñanza del español.      
        
        .sub-ecored.mt-5#14 
            h2 1.4 Sistemas de comunicación
        .row.justify-content-center.align-items-center.mt-5  
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img11.png").img-fluid               
            .col 
                P Existen sistemas de comunicación alternativos, que de acuerdo con Tamarit (1989), son un conjunto estructurado de códigos no vocales, necesitados o no de soporte físico, los cuales, mediante procedimientos específicos de interacción, sirven para llevar a cabo actos de comunicación (funcional, espontánea y generalizable) por sí solos, o en conjunción con los códigos vocales, o como apoyo parcial a los mismos. 

                P En esta medida de acuerdo con Hael (2018), para el caso de la población sorda en primer lugar, los modos de transmisión, percepción y expresión, que en el caso de la lengua de señas es mediante el sistema visual e implica en gran medida el aspecto kinésico y en la lengua hablada –en nuestro caso, el español– se realiza a través del sistema auditivo e implica movimientos bucales y labiales. Recalca también la dificultad que implica para el alumno sordo adentrarse en la cultura escrita de una segunda lengua cuando en la mayoría de los casos no tienen consolidada su primera lengua.
        .row.justify-content-center.align-items-center.mt-5 
            .col 
                h2.mb-0.color-1 En los sistemas lingüísticos, también existen otras formas lingüísticas como: Pidgin, Creol, Códigos señados caseros, Códigos de uso restringido que existen en todo el mundo y ocurren cuando se ponen en contacto pueblos cuyos idiomas no son mutuamente inteligibles, pero tienen la capacidad para modificarse con la finalidad de satisfacer estas condiciones cambiantes.          
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid 