.container
    .header-ecored
        h1 2. Los Neologismos
    .jumbotron.bg-white
        .sub-ecored#21 
            h2 2.1 Definición
        .row.justify-content-center.align-items-stretch.mt-5 
            .col-12.col-md-6
                p Actualmente es necesaria la creación de nuevos términos que corresponden a nuevos conceptos o a la designación de nuevas realidades. 
                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img13.png").img-fluid 

                h2.mt-5 Un neologismo es una palabra o expresión nueva que se crea en una lengua, con respecto a la época en que surge.

                p.mt-5 Otros estudiosos hablan de calcar las lenguas orales, traerlas de otros países o continentes. En cualquier caso, para los usuarios de la lengua de señas colombiana los neologismos se han convertido en un tema de discusión, estudio y de grandes desacuerdos. Los señantes de la lengua de señas colombiana advierten variaciones en su forma y expresividad a nivel regional y que su lengua está muy ligada a la historia de su educación. Estos fenómenos particulares de las señas colombianas relacionadas con los neologismos hacen que la traducción e interpretación sea todo un reto.

            .col-12.col-md-6
                h2.mb-0.color-2 El término neologismo nació en el siglo XVIII para designar una afectación en la manera de expresarse, con una carga peyorativa, que con el pasar del tiempo designó una innovación en la lengua.
                img.img-a.img-r-inf(src="assets/images/pages/ilustraciones/img14.png").img-fluid 

                p.mt-6 En el caso de la lengua de señas colombiana, hay que reconocer en primera instancia, que nace de una comunidad heterogénea, dicho de otra manera, culturalmente diversa que, como señaló Tovar (2001), esta comunidad está dividida en dos grupos principales: por un lado, los sordos de generaciones más jóvenes pertenecientes a la Comunidad Árbol de Vida y, por otra parte, los sordos de generaciones adultas-mayores con sordos más jóvenes relacionados con alguna institución. En 1994 nació esta división con cuatro jóvenes estudiantes sordos enfrentados a un contexto académico oralizado en el que se vieron en la imperiosa necesidad de adecuar su lengua a lo que para ellos eran los nuevos vocablos e iniciaron un proceso de creación de señas. En cuanto a muchas de las señas propuestas por Árbol de Vida, tal parece ser que, efectivamente, no siguen los procesos más productivos que se han identificado. Se trata a menudo de señas que intentan ser etimológicas, a la manera de los neologismos de las lenguas orales basadas en los étimos griegos y latinos, en las que cada mano expresa una raíz.

        .jumbotron.bg-2.py-3.pr-3.pl-4.mt-5
            .row.justify-content-center.align-items-center
                .col 
                    p.mb-0 Una de las razones por las que existen los neologismos en la lengua de señas, es porque “un grupo de señas construyen significados complejos y tienen usos específicos, […] además, no existe seña simple. No son simples las señas tradicionales”, (Barreto, 2015); así como tampoco son simples los neologismos. Pese a todo lo anterior, estas nuevas formas de expresión o neologismos surgen para una mayor efectividad en la comunicación.
                .col-auto 
                    img.img-a.img-r-1(src="assets/images/pages/ilustraciones/img15.png").img-fluid

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                a(href="media/documentos/ANEXO_1_Consideraciones_sobre_las_actitudes_ling.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p #[strong Anexo 1.] Consideraciones sobre las actitudes lingüísticas de señantes de lengua de señas colombiana frente a los neologismos y a los señantes de la comunidad Árbol de Vida. Cortés y Chacón (2017).

            .col-12.col-md-6
                a(href="media/documentos/ANEXO_2_Fundarvid_Una_contextualizacion.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p #[strong Anexo 2.] Fundarvid: Una contextualización etnográfica de sus neologismos en la lengua de señas colombiana. Barreto (2015).

        .sub-ecored.mt-5#22 
            h2 2.2 Tipos de neologismos
        p A continuación, se indican algunos de los tipos de neologismos más utilizados por los académicos y que pueden aplicar de igual manera a la lengua de señas colombiana.

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img16.png").img-fluid 

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img17.png").img-fluid 
                h3.mt-3.color-1 Neologismos de forma:
                p estos se crean por la transformación morfológica de palabras o vocablos que ya existen en el idioma. Estos pueden ser por sufijación, prefijación, interferencias entre sufijación y prefijación, composición, lexicalización, conversión sintáctica, sintagmación, siglación, acronimia o abreviación. Ejemplo en español: antiarrugas, fotoperiodismo, papamóvil.

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img18.png").img-fluid 
                h3.mt-3.color-1 Neologismos semánticos:
                p se refieren a las palabras que, si bien ya forman parte de la lengua, son tomadas con otro significado o sentido en el mismo idioma. Ejemplo en español: buscador, parquet o virus.


        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img19.png").img-fluid 
                h3.mt-3.color-1 Neologismos estilísticos:
                p son aquellas palabras que se aplican para darle un tono más sensible y positivo a una expresión, o para cambiar la percepción de las cosas. Ejemplo en español: moreno, invidente.

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img20.png").img-fluid 
                h3.mt-3.color-1 Neologismos funcionales:
                p esta clasificación se refiere a la necesidad de añadir nuevas palabras a una lengua porque no hay otra manera de designar a un objeto o situación en particular y permiten que sea más dinámica la comunicación. Ejemplo en español: kilo, jirafa, oruga.

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid 
                h3.mt-3.color-1 Neologismos sociales:
                p son todos aquellos que describen o definen aspectos vinculados a la sociedad donde vivimos, lo moral y cultural. Ejemplo en español: comité, huelga, asamblea.

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img22.png").img-fluid 
                h3.mt-3.color-1 Neologismos por préstamos:
                p términos importados de otra lengua, estén o no admitidos. También puede referirse a los extranjerismos o al término imperialismo lingüístico, haciendo referencia a la influencia que ejerce una lengua dominante sobre otras. Ejemplo en español: carné, champú, estrés, consomé.

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid 
                h3.mt-3.color-1 Neologismos tecnológicos:
                p este tipo de neologismos está relacionado con los cambios que producen las palabras en los campos de la tecnología y la ciencia. Casi siempre provienen de otros idiomas, en el caso del español, el inglés. Esta clasificación es una de las más utilizadas en la actualidad. Ejemplo en español: escáner, servidor, selfi o ciberespacio.

            .col-12.col-md-4
                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img24.png").img-fluid 

        .sub-ecored.mt-5#23
            h2 2.3 Procedimiento para la creación, recolección, validación y divulgación de neologismos                

        .row.justify-content-center.align-items-stretch.my-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img25.png").img-fluid 

            .col 
                p Los intereses para la creación de los neologismos son diferentes. En algunos casos pueden ser de tipo comercial, académico o gubernamental. Teniendo en cuenta lo anterior, los intérpretes y traductores se enfrentan con diversos y complejos retos porque requieren de una investigación profunda y obligatoria de cultura, contexto y temática de la lengua de señas para la creación de los neologismos. Peter Newmark (1988), habla de la cultura como

        img.img-a.img-r(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

        .jumbotron.bg-1
            h2.mb-0.color-1 “la forma de vida y las manifestaciones propias de una comunidad que se hacen visibles en su lengua”. Por lo que “las palabras (o en este caso, las señas) están estrechamente ligadas a la cultura de cada comunidad en tanto éstas les permiten manifestar sus costumbres y tradiciones desarrollando así su propia identidad”.                
        
        .hr-blue.my-5 

        .row.justify-content-center.align-items-center.my-5
            .col-auto 
                a(href="media/documentos/ANEXO_3_Comparacion_de_estrategias_para_la_traduccion.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p #[strong Anexo 3.] Comparación de estrategias para la traducción de neologismos Amórtegui y Rangel (2008).        

        p.mt-5 El autor también hace una distinción de dos tipos de palabras: universales y culturales. Esto es importante a la hora de crear los neologismos, ya que la traducción e interpretación por transferencia privilegia la cultura, a diferencia del análisis componencial que se interesa en los elementos comunes en un contexto específico.

        .row.justify-content-center.align-items-stretch.my-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img26.png").img-fluid 
            .col.ml-4
                h3.color-1 Universales: 
                p no representan un problema para el traductor e intérprete ya que son familiares para la comunidad sorda, como mesa, silla o mamá. En este caso, no es necesario crear un neologismo. 

        .row.justify-content-center.align-items-stretch.my-5
            .col.mr-4 
                h3.color-1 Culturales: 
                p pueden presentarse dificultades por interferencia entre los mismos hablantes de la lengua al designar objetos, fenómenos o procesos propios de una cultura.     
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img27.png").img-fluid 

        .hr-blue.my-5 
               
        .row.justify-content-center.align-items-center.my-5
            .col-auto 
                a(href="media/documentos/ANEXO_4_ Neologismos_de_la_lengua_de_senas_colombiana_en_contexto.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p #[strong Anexo 4.] Una lectura de un debate comunitario desde la Etnoeducación. Vargas Parra (2020).

        p El fenómeno de los neologismos no atañe a la interpretación o traducción de textos, sino más bien de palabras y de expresiones; estas, a su vez pueden nacer por la planeación organizada o por la espontaneidad.

        .row.justify-content-center.align-items-stretch.my-5
            .col-12.col-md-6        
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img28.png").img-fluid 
                p La neología espontánea puede #[strong “ser consecuencia de un acto inconsciente por parte del hablante, que forma una nueva unidad sin darse cuenta de que se trata de una unidad no codificada en las obras lexicográficas”.] Estos nacen de la subjetividad, de un grupo o son extranjerismos. Estas suelen dejarse al azar y al uso particular según las necesidades de la comunidad, que luego pueden llegar a incorporarlas a su vocabulario.

            .col-12.col-md-6        
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img29.png").img-fluid 
                p #[strong “La neología planificada tiene como objetivo dotar a una lengua de recursos de expresión y de comunicación propios, es decir, de preservar una lengua, y para ello usa como base las nociones de norma y genuinidad lingüística”.] Pascual, (2015). Generalmente nace en instituciones que buscan describir términos nuevos.

        .jumbotron.bg-3.mt-5.py-3.py-3
            .row.justify-content-center.align-items-center
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/img30.png").img-fluid              
                .col 
                    h2.mb-0 Existen diferentes argumentos y estrategias que pueden ayudar en el particular ejercicio de la validación de los neologismos en la lengua de señas, algunos de ellos bien vistos por la comunidad de sordos en Colombia y otros no tanto.

        p.mt-5 Se pueden plantear entonces algunas generalidades para tener en cuenta sobre este tema. Una de las controversias de los líderes señantes en nuestro país, es la creación de señas complejas, que utilicen movimientos de articulación diferentes para ambas manos o que sean difíciles de ejecutar por alguna otra razón. Sin embargo, aún si es de difícil articulación, es posible que la fonología de una seña extraña, con el uso, se asimile a la de la lengua. Pero tampoco es obligatorio pensar que, para que un signo lingüístico sea válido y ayude en la conceptualización, tenga que expresar en morfemas definidos los significados que encierra.  

        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6          
                p Otro debate sobresaliente para validar los neologismos en la lengua de señas es el calco de los campos semánticos, es decir, una imitación literal del significado que tienen las palabas o conceptos de la lengua oral a la lengua de señas sin ningún tipo de contextualización en el discurso ni llenar una necesidad específica.
                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img31.png").img-fluid              

            .col-12.col-md-6   
                h2.color-1 Por lo tanto, es necesaria una motivación visual a la hora de crear nuevas señas, sin atropellar la #[strike.incorrecto simetría y dominancia], con una #[strike.incorrecto articulación cómoda], unos movimientos #[strike.incorrecto específicos], una percepción #[strike.incorrecto clara], una recordación simple y una #[strike.incorrecto completa] claridad en los conceptos; son una base imprescindible para la creación, recolección, validación y divulgación de los neologismos.