.container
    .header-ecored
        h1 3. La interpretación
    .jumbotron.bg-white
        nav.nav-tab-ecored
            #nav-tab.nav.nav-tabs(role='tablist')
                a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                    strong Concepto
                a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                    strong Modelos, modalidades y técnicas
                a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                    strong Protocolos de etiqueta
                a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                    strong Código de ética del intérprete                
                
            #nav-tabContent.tab-content
                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')

                    p#31 Con el fin de demarcar modos, características, requisitos, funciones y circunstancias presentes en la interpretación, además de la presencia física del intérprete, el cambio constante de código, los turnos de palabra, el número de participantes, entre otros, son algunos de los factores diferenciadores de una gama de posibilidades que determinan la dinámica de la interpretación. A continuación, se presentarán algunos modelos o tipos de interpretación, aunque no todos son comúnmente utilizados en el ejercicio de la lengua de señas.
                    .row.justify-content-center.align-items-center.mt-6
                        .col-12.col-md-6
                            img.img-a.img-r(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

                            .jumbotron.bg-1.mt-2
                                p "Goodman (1976) aclara que la interpretación puede hacerse de textos, de palabras, de ideas, de acontecimientos de la realidad, y puede expresarse a través del lenguaje oral o escrito, por medio de representaciones teatrales, de la música o de la danza".
                        .col-12.col-md-6
                            img.img-a.img-r(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

                            .jumbotron.bg-1.mt-2
                                p "Los pintores, o los músicos, por ejemplo, interpretan la realidad o sus estados anímicos en sus obras".        
                    .row.justify-content-center.align-items-center.mt-4
                        .col-12.col-md-6
                            img.img-a.img-r(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

                            .jumbotron.bg-1.mt-2
                                p "Cuando se interpreta un escrito o un discurso podemos hacerlo de modo literal u objetivo, ateniéndonos sólo a las palabras expresadas, o de modo subjetivo intentando descubrir la real voluntad del emisor".
                        .col-12.col-md-6
                            img.img-a.img-r(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

                            .jumbotron.bg-1.mt-2
                                p "La historia de la interpretación es tan antigua como la humanidad misma".     

                    .row.justify-content-center.align-items-center.mt-4
                        .col-12.col-md-6
                            img.img-a.img-r(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

                            .jumbotron.bg-1.mt-2
                                p "Desde siempre han existido comunidades lingüísticas que han tenido la necesidad de intercambiar productos, alimentos, etc. y para ello se valieron de personas que supieran ambas lenguas y que oficiaron de intérpretes".
                        .col-12.col-md-6
                            img.img-a.img-r(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

                            .jumbotron.bg-1.mt-2
                                p "La interpretación de las lenguas orales se reconoció como profesión a partir de la primera guerra mundial, con anterioridad a esa fecha se hacían interpretaciones, pero no se exigía una calidad mínima".    
                    .hr-blue.my-5                                 
                    .row.justify-content-center.align-items-center.mt-5
                        .col-12.col-md-6
                            a(href="media/documentos/ANEXO_6_El profesional_interprete_Historia_de_la_interpretacion.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo 6.] Lengua de Señas Uruguaya, el profesional intérprete: Historia de la interpretación de lenguas orales. Siré (2018).

                        .col-12.col-md-6
                            a(href="media/documentos/ANEXO_7_LaIncreible_y_Triste_Historia_De_LaInterpretacion_DeLeng_5278430.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo 7.] La increíble y triste historia de la interpretación de lengua de señas: reflexiones identitarias desde Colombia. Barreto, (2015).                                          

                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                    h1.color-1#32 Modelos
                    #carouselExampleIndicators.carousel.slide(data-interval='false')
                        ol.carousel-indicators
                            li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                            li(data-target='#carouselExampleIndicators', data-slide-to='1')
                            li(data-target='#carouselExampleIndicators', data-slide-to='2')
                            li(data-target='#carouselExampleIndicators', data-slide-to='3')
                            li(data-target='#carouselExampleIndicators', data-slide-to='4')
                        .carousel-inner
                            .carousel-item.active
                                .jumbotron.bg-2.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img32.png").img-fluid 
                                                .col 
                                                    h2.color-1 Interpretación simultánea:
                                                    h3.color-1 Es la que se realiza con la menor demora posible entre el discurso original y la lengua meta, casi en tiempo real.

                                            p.mb-0.mt-5 En el caso de las lenguas orales, y algunas veces la lengua de señas, se utilizan cabinas insonorizadas, micrófonos para la emisión del mensaje y auriculares para la recepción. Esta exige una enorme concentración, esfuerzo mental y físico por parte de los intérpretes, por lo que el trabajo suele realizarse por parejas que se van turnando cada cierto tiempo para evitar el desgaste. El reto aquí consiste en la presentación ininterrumpida en lengua de llegada de un discurso pronunciado en lengua de partida, la inmediatez de la transmisión del mensaje, la importancia de los recursos memorísticos (en este caso, memoria a corto plazo) por parte del intérprete y la necesidad de verificación gramatical y léxica de los mensajes que se están emitiendo.
                            .carousel-item
                                .jumbotron.bg-2.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img33.png").img-fluid 
                                                .col 
                                                    h2.color-1 Interpretación susurrada o chuchotage:
                                                    h3.color-1 La palabra chuchotage viene de la voz francesa chuchoter (susurrar o cuchichear).

                                            p.mb-0.mt-5 Este tipo de interpretación se enmarca en la denominada interpretación simultánea. El intérprete debe situarse junto al receptor, ligeramente por detrás de éste, susurra al oído del participante o a un número limitado de participantes, lo expuesto en tiempo real por el orador. Por lo general es unidireccional, sin embargo, en ocasiones el receptor puede plantear preguntas al orador que el intérprete deberá transmitir correctamente.
                            .carousel-item
                                .jumbotron.bg-2.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img34.png").img-fluid 
                                                .col 
                                                    h2.color-1 Interpretación consecutiva:
                                                    h3.color-1 Se ha realizado desde incluso antes que la simultánea, pero su origen oficial se establece a partir de la I Guerra Mundial.

                                            p.mb-0.mt-5 Este es un tipo de interpretación por bloques en la que el intérprete espera a que su interlocutor realice la totalidad o parte de su discurso en el idioma de origen, para pasar luego a interpretar al idioma meta, no sólo las palabras, sino el sentido de estas, con la mayor exactitud posible. El hecho de poder tener una visión global del discurso y ver cómo se conectan las ideas facilita la comprensión del mensaje. Un buen intérprete consecutivo debe ser capaz de interpretar fragmentos de discurso de hasta diez minutos de duración.
                            .carousel-item
                                .jumbotron.bg-2.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img35.png").img-fluid 
                                                .col 
                                                    h2.color-1 Interpretación consecutiva dialógica:
                                                    h3.color-1 También es llamada consecutiva corta o interpretación ad hoc.

                                            p.mb-0.mt-5 El rasgo diferenciador de esta modalidad es que su finalidad es la interpretación de diálogos en tiempo real frente a monólogos. El intérprete reformula oralmente lo enunciado por cada hablante en cuanto éste cede su turno de palabra. El canal de comunicación afecta la interacción y puede ser directo, telefónico o videoconferencia. Las intervenciones suelen ser breves de manera que no es necesaria la toma de notas. Las destrezas específicas que requiere esta modalidad son dominar el cambio rápido de código y los turnos de palabra. El número de participantes suele ser reducido y el diálogo es privado, aunque en algunas ocasiones sea público como en conferencias de prensa o en los tribunales. La interacción determina el desarrollo de la interpretación dada la relación de proximidad entre los participantes”. Variedades de interpretación: modalidades y tipos.
                            .carousel-item
                                .jumbotron.bg-2.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img36.png").img-fluid 
                                                .col 
                                                    h2.color-1 Interpretación bilateral o de enlace:
                                                    h3.color-1 Es la que se realiza con la menor demora posible entre el discurso original y la lengua meta, casi en tiempo real.

                                            p.mb-0.mt-5 En el caso de las lenguas orales, y algunas veces la lengua de señas, se utilizan cabinas insonorizadas, micrófonos para la emisión del mensaje y auriculares para la recepción. Esta exige una enorme concentración, esfuerzo mental y físico por parte de los intérpretes, por lo que el trabajo suele realizarse por parejas que se van turnando cada cierto tiempo para evitar el desgaste. El reto aquí consiste en la presentación ininterrumpida en lengua de llegada de un discurso pronunciado en lengua de partida, la inmediatez de la transmisión del mensaje, la importancia de los recursos memorísticos (en este caso, memoria a corto plazo) por parte del intérprete y la necesidad de verificación gramatical y léxica de los mensajes que se están emitiendo.                          
                                                                                        
                        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next 
                                
                    h1.color-1.mt-5#33 Modalidades
                    p El término modalidad procede de la palabra modo, aunque también son sinónimos: manera y forma. Así que todo lo que se desarrolle bajo una determinada modalidad debe respetar ciertas reglas y mecanismos, por lo que no resulta espontáneo. Por modalidades se entiende el ámbito social o situacional en que se realiza el servicio de interpretación, algunas de estas son:
                    #carouselExampleIndicators1.carousel.slide(data-interval='false')
                        ol.carousel-indicators
                            li.active(data-target='#carouselExampleIndicators1', data-slide-to='0')
                            li(data-target='#carouselExampleIndicators1', data-slide-to='1')
                            li(data-target='#carouselExampleIndicators1', data-slide-to='2')
                            li(data-target='#carouselExampleIndicators1', data-slide-to='3')
                            li(data-target='#carouselExampleIndicators1', data-slide-to='4')
                            li(data-target='#carouselExampleIndicators1', data-slide-to='5')
                            li(data-target='#carouselExampleIndicators1', data-slide-to='6')                            
                        .carousel-inner
                            .carousel-item.active
                                .jumbotron.bg-4.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img37.png").img-fluid 
                                                .col 
                                                    h3.color-1 Judicial
                                                    p Conlleva un alto nivel de responsabilidad ya que es una interpretación jurada. En ocasiones, el hecho de que el intérprete no se haya jurado puede causar que el juicio se declare nulo. Por ejemplo, en juicios o tribunales de justicia.

                            .carousel-item
                                .jumbotron.bg-4.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img38.png").img-fluid 
                                                .col 
                                                    h3.color-1 Marketing
                                                    p Interpretación centrada en el ámbito empresarial y de la negociación. Aquí generalmente se imita la entonación, las risas, el tono, y las emociones transmitidas por el hablante. Por ejemplo: reuniones de trabajo, negociaciones comerciales, recorridos en fábricas, exhibiciones internacionales.

                            .carousel-item
                                .jumbotron.bg-4.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img39.png").img-fluid 
                                                .col 
                                                    h3.color-1 Conferencia
                                                    p Consiste en realizar una interpretación en una ponencia de oradores o discursos. Por ejemplo: congresos, reuniones políticas.

                            .carousel-item
                                .jumbotron.bg-4.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img40.png").img-fluid 
                                                .col 
                                                    h3.color-1 Escort
                                                    p Este es un tipo de interpretación de enlace. Un intérprete acompaña a una persona o grupo, a una entrevista, tour, etc. Es como un acompañante para facilitar la comunicación. 

                            .carousel-item
                                .jumbotron.bg-4.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img41.png").img-fluid 
                                                .col 
                                                    h3.color-1 Comunitaria
                                                    p Asegura la transmisión de información para grupos entre los cuales no existe una misma lengua de intercambio. Tiene una función integradora y social. El intérprete ha de tomar decisiones lingüísticas relevantes siendo consciente de las situaciones de comunicación, como diferencias culturales, el lenguaje apropiado para la audiencia, habilidades de traducción incluso entre dos idiomas, etc. Por ejemplo: colegios, policía, hospitales. 
  

                            .carousel-item
                                .jumbotron.bg-4.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img42.png").img-fluid 
                                                .col 
                                                    h3.color-1 Ámbito Sanitario
                                                    p En algunos países existen intérpretes acreditados formalmente con amplios conocimientos en medicina y salud, o por lo menos en sus términos. Por ejemplo, los servicios de interpretación ayudan a que un médico y un paciente se puedan entender. Pueden ser incluso a través de videollamadas u otros medios. 


                            .carousel-item
                                .jumbotron.bg-4.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img43.png").img-fluid 
                                                .col 
                                                    h3.color-1 Medios de comunicación
                                                    p Es un tipo de interpretación simultánea y suele ser muy estresante debido a las múltiples dificultades técnicas que pueden suscitarse y al alboroto que se produce en las salas de control cuando las transmisiones son en vivo. Por ejemplo: noticieros, algunos asuntos políticos, olimpiadas. 
                                                                                                    
                                                                                        
                        a.carousel-control-prev(href='#carouselExampleIndicators2', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleIndicators2', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next 

                    h1.color-1.mt-5#34 Técnicas
                    p En el caso particular de la interpretación de lengua de señas a una lengua oral y viceversa, la modalidad condiciona los mecanismos que debe considerar el intérprete y varían dependiendo del tipo de interpretación que se realice, el momento de la interpretación, desfase temporal entre el discurso original, la reformulación, el ritmo, el emisor, el receptor, las interrupciones (si las hay), la inmediatez o si la producción del discurso es paralela entre las lenguas o no.
                    #carouselExampleIndicators2.carousel.slide(data-interval='false')
                        ol.carousel-indicators
                            li.active(data-target='#carouselExampleIndicators2', data-slide-to='0')
                            li(data-target='#carouselExampleIndicators2', data-slide-to='1')
                            li(data-target='#carouselExampleIndicators2', data-slide-to='2')
                            li(data-target='#carouselExampleIndicators2', data-slide-to='3')
                            li(data-target='#carouselExampleIndicators2', data-slide-to='4')
                            li(data-target='#carouselExampleIndicators2', data-slide-to='5')                            
                        .carousel-inner
                            .carousel-item.active
                                .jumbotron.bg-5.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img44.png").img-fluid 
                                                .col 
                                                    h2.color-1 El décalage
                                                    h3.color-1 Entre el discurso original y la interpretación siempre existe un desfase temporal que varía en función de las circunstancias.

                                            p.mb-0.mt-5 Este lapso se conoce como décalage, y quien interpreta procura que sea el adecuado en todo momento. Hay que recordar que el intérprete no reproduce lo que escucha, sino lo que ya ha escuchado y procesado. Así pues, los intérpretes deben escuchar el mensaje y analizarlo unos segundos, ya que no se trata de una transposición lingüística simple, sino de una reformulación del sentido en otro idioma. El intérprete empieza a hablar inmediatamente después del orador con un intervalo de 3 a 6 segundos. En otros casos solo se espera a tener un sujeto y un predicado antes de empezar a reformular, ya que con eso ya se tiene suficiente para formar una proposición. 

                            .carousel-item
                                .jumbotron.bg-5.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img45.png").img-fluid 
                                                .col 
                                                    h3.color-1 Este es un proceso básico y crucial. Se trata de dividir el mensaje original en unidades de sentido para procesar y comprender, más no percibir, el texto adecuadamente.

                                            p.mb-0.mt-5 Los intérpretes tienden a ignorar la segmentación impuesta por el discurso y se hacen la suya propia, por ese motivo, la mayoría no espera a que el orador haya terminado una proposición para empezar a interpretar. La segmentación varía dependiendo de las capacidades de retención de cada intérprete, aunque se cree que la máxima cantidad de información que se puede procesar es la que cabe en un máximo de diez segundos, un intervalo que permite que el intérprete se despegue del mensaje original y pueda reformular de manera más natural. 

                            .carousel-item
                                .jumbotron.bg-5.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img46.png").img-fluid 
                                                .col 
                                                    h2.color-1 La simultaneidad, Multitasking o división de la atención
                                                    h3.color-1 En algún momento, el intérprete involucra las siguientes actividades de manera simultánea y precisa:

                                            .list.mt-5
                                                .list__item
                                                    .list__item__icon
                                                        img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                                .list__txt    
                                                    p.m-top Escucha y recibe el mensaje.

                                            .list
                                                .list__item
                                                    .list__item__icon
                                                        img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                                .list__txt    
                                                    p.m-top Descodificarlo o entiende el mensaje.

                                            .list
                                                .list__item
                                                    .list__item__icon
                                                        img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                                .list__txt    
                                                    p.m-top Recodifica o convierte el significado del mensaje en la lengua meta.

                                            .list
                                                .list__item
                                                    .list__item__icon
                                                        img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                                .list__txt    
                                                    p.m-top Emite el mensaje en la lengua meta.  

                                            p.mb-0 Sin embargo, se convierte en un problema cuando las tareas superan el límite individual de proceso de la información. 

                            .carousel-item
                                .jumbotron.bg-5.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img47.png").img-fluid 
                                                .col 
                                                    h2.color-1 El uso de pausas y la sincronía
                                                    h3.color-1 La mayoría de los discursos consisten también en silencios.

                                            p.mb-0.mt-5 Es difícil para un intérprete predecir cuándo se van a realizar las pausas para conseguir una distribución perfecta de su output. Otra dificultad es la duración de las pausas, puesto que la mayoría duran menos de 0,5 segundos y solo un 20% y un 40% duran entre 1 y 2 segundos; muy pocas duran más de 2 segundos Para producir su output, el intérprete debe agilizar el proceso, hablando más y con pausas más cortas o haciendo intervalos más cortos, pero más rápido. 

                            .carousel-item
                                .jumbotron.bg-5.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img48.png").img-fluid 
                                                .col 
                                                    h2.color-1 Interpretación por relé
                                                    h3.color-1 El relé (relay en inglés o relais en francés) es una modalidad de la interpretación simultánea indirecta.

                                            p.mb-0.mt-5 Hay un intérprete que parte del idioma original y es quien da el relé. El resto de los intérpretes hacen su labor a partir de él hacia el resto de las lenguas. Si el intérprete que da el relé tiene algún fallo en la información o traducción, este fallo sigue en cadena para los demás intérpretes. Por supuesto, la interpretación llega con unos cuantos segundos más de retardo a los receptores, ya que primero debe actuar un intérprete y a continuación, el otro. 
  

                            .carousel-item
                                .jumbotron.bg-5.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img49.png").img-fluid 
                                                .col 
                                                    h2.color-1 Interpretación por traducción a la vista
                                                    h3.color-1 Recibe diferentes nombres según el autor.

                                            p.mb-0.mt-5 Está relacionado con la lectura de un texto por parte del intérprete para trasladarlo inmediatamente de forma a la lengua meta. 

                        a.carousel-control-prev(href='#carouselExampleIndicators2', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleIndicators2', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next                             
                                                                
                    .hr-blue.my-5 
                    .row.justify-content-center.align-items-center
                        .col-12.col-md-6
                            a(href="media/documentos/ANEXO_8_VariedadesDeInterpretacion.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo 8.] Comparación de estrategias para la traducción de neologismos Amórtegui y Rangel (2008).

                        .col-12.col-md-6
                            a(href="media/documentos/ANEXO_9_Dominguez_interpretacion_simultanea.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo 9.] Interpretación simultánea, el camino hacia la profesionalización. Domínguez (2016).                   
                                    
                    .row.justify-content-center.align-items-center.mt-5
                        .col-auto 
                            a(href="media/documentos/ANEXO_10_Traduccion_a_la_vista.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo 10.] La traducción a la vista: su importancia en la formación del traductor. Sánchez, (1990).

                #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                    .row.justify-content-center.align-items-center.mt-4#35
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/img50.png").img-fluid 
                        .col
                            img.img-a.img-r(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

                            .jumbotron.bg-1.mt-2
                                h1.color-1 “Aquella actividad determinadora de las formas bajo las cuales han de llevarse a cabo, del mejor modo posible, las relaciones del ser humano con sus semejantes.”  
                    p.mt-5 Para la mayoría de los intérpretes, la resolución de diferentes situaciones por las que atraviesan puede volverse un tema de sentido común o de experiencia laboral. El análisis de las situaciones críticas en el servicio de interpretación es fundamental para saber afrontar los encargos con responsabilidad y calidad. De acuerdo con Urbina (2001), el protocolo es “aquella actividad determinadora de las formas bajo las cuales han de llevarse a cabo, del mejor modo posible, las relaciones del ser humano con sus semejantes.” 

                    p A continuación, se describen cada una de las clases de protocolos de etiquetas: 

                    #carouselExampleIndicators3.carousel.slide(data-interval='false')
                        ol.carousel-indicators
                            li.active(data-target='#carouselExampleIndicators3', data-slide-to='0')
                            li(data-target='#carouselExampleIndicators3', data-slide-to='1')
                            li(data-target='#carouselExampleIndicators3', data-slide-to='2')
                            li(data-target='#carouselExampleIndicators3', data-slide-to='3')
                            li(data-target='#carouselExampleIndicators3', data-slide-to='4')                           
                        .carousel-inner
                            .carousel-item.active
                                .jumbotron.bg-2.px-4.pt-0
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img51.png").img-fluid 
                                                .col 
                                                    h2.color-1 Protocolo oficial, protocolo social y protocolo empresarial.
                                            p.mb-0.mt-5 El protocolo oficial son los eventos que organiza el estado y las entidades públicas. Los profesionales del protocolo acuden a la legislación vigente para establecer, con el mejor criterio posible, todos los parámetros del acto para que todo funcione de forma correcta.  Aunque hay algunas leyes que lo normalizan, no se encuentran regulados todos los aspectos de un acto al mínimo detalle. Contiene el uso reglamentario de la bandera, del escudo o del himno nacional, entre otras muchas insignias.

                            .carousel-item
                                .jumbotron.bg-2.px-4.pt-0
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img52.png").img-fluid 
                                                .col 
                                                    h2.color-1 Protocolo diplomático.
                                            p.mb-0.mt-5 Es una derivación del protocolo oficial. Rige los actos oficiales donde hay relaciones entre diferentes estados, como reuniones internacionales o visitas de estado.

                            .carousel-item
                                .jumbotron.bg-2.px-4.pt-0
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img53.png").img-fluid 
                                                .col 
                                                    h2.color-1 Protocolo privado.
                                            p.mb-0.mt-5 Se puede dividir en dos clases: protocolo empresarial y protocolo familiar o social.  Aunque el protocolo sea privado, el acto puede ser público.

                            .carousel-item
                                .jumbotron.bg-2.px-4.pt-0
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img54.png").img-fluid 
                                                .col 
                                                    h2.color-1 Protocolo empresarial.
                                            p.mb-0.mt-5 Los actos que organizan las grandes empresas pueden tener la participación de otras empresas y de personajes del gobierno y de cualquier institución. El anfitrión-organizador del acto es el que marca las pautas para los criterios que sean más convenientes y que tenga éxito su evento.

                            .carousel-item
                                .jumbotron.bg-2.px-4.pt-0
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img55.png").img-fluid 
                                                .col 
                                                    h2.color-1 Protocolo social o familiar.
                                            p.mb-0.mt-5 Comprende los actos sociales que se dan dentro del entorno familiar, o el entorno cercano de una persona. La mayoría de estos eventos tienen normas provenientes de la costumbre, la tradición, una determinada creencia, cultura, religión, raza, sexo o moda. Generalmente encontramos un conjunto de conductas, hábitos y comportamientos que no son obligatorios, pero si son aceptados por la mayoría de la sociedad, por lo que la buena educación, el respeto y algunas normas de etiqueta son de gran importancia en todos los actos o eventos.

                        a.carousel-control-prev(href='#carouselExampleIndicators3', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleIndicators3', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next     

                    p Normas protocolarias: aunque no existe una normativa legal sobre protocolo que se deba aplicar a los eventos, cuanto más importante sea un acto, más se acercará a la normativa jurídica existente para los actos públicos. Sin embargo, las normas de protocolo social son las que primarán en cualquier reunión que se precie. La estructura propuesta por Watt (1995) habla de la organización técnica, de medios, económica e in situ en que se suele dividir la preparación en este tipo de actos.
                    
                    h1.color-1.mt-5 Antes del re-evento es necesario:                 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Conocer el tema de presupuestos, remuneraciones y fechas de pagos.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Tener claridad en el tipo de contratación que acordarán las partes.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Definir el tipo de interpretación.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Conocer el día, lugar y la hora del evento en que serán necesarios los servicios. 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Una vez confirmado el evento se debe enviar a los intérpretes un abstract o resumen de cada una de las ponencias en el caso de temática muy técnica.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Si no fuera posible obtener el abstract los organizadores deben poner en contacto al ponente con los intérpretes por email o por teléfono. 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Se puede hacer uso de internet para la documentarse e investigación de los temas.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top En la modalidad consecutiva, el intérprete deberá acordar la frecuencia con la que el hablante deberá hacer pausas. 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Conocer de antemano la población sorda que asistirá, así como otro tipo de posibles asistentes al evento.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Actualizar el vocabulario técnico de LSC.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Establecer estrategias de soporte de apoyo.

                    .jumbotron.bg-1.mt-5.py-0
                        .row.justify-content-center.align-items-center
                            .col 
                                h2.mb-0.color-1 Cuanto más importante sea un acto, más se acercará a la normativa jurídica existente para los actos públicos.
                            .col-auto 
                                img.img-a(src="assets/images/pages/ilustraciones/img56.png").img-fluid   

                    h1.color-1.mt-5 El día del evento es necesario: 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Hacer uso de las normas básicas de cortesía social y empresarial (puntualidad, saludar amablemente, sonreír, pedir permiso, ser discretos, no tomarse atribuciones que no corresponden, guardar la compostura en situaciones adversas, entre otros).

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Hacer buen uso de la llamada fórmula R.E.S. (respeto, educación y sentido común).

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Saber en qué momentos es adecuado un saludo de mano, de beso en la mejilla, una breve inclinación, una seña o una sonrisa; sobre todo en el momento en el que se está frente a un auditorio.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Tener claro el rol del intérprete.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Antes del comienzo del evento, es conveniente que algún organizador presente al intérprete con las personas que van a intervenir en la ponencia.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Nunca se deben dejar frases ni ideas a medias y deben evitarse los circunloquios.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Se intentará hablar siempre a la misma distancia del micrófono, en caso de que sea necesario utilizarlo. 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top En caso de hablar frente a un público numeroso, no dirigirse solo a una persona del público.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Mantener un ritmo adecuado.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Tener clara la ubicación estratégica dependiendo del tamaño del evento.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Asegurarse de que todos los usuarios de la lengua de señas puedan ver los gestos del intérprete.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Tener espacio para la amplitud de movimientos. 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Es recomendable estar a una distancia prudente de los ponentes.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Tener claro el espacio de interpretación a lengua de señas donde se utilizarán cámaras de video.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top En el caso del uso de video tener claro el código de vestimenta.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Para los demás tipos de eventos se deben conocer los códigos de vestimenta que sean acordes. (dresscode).

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top La ubicación debe favorecer el sonido para el intérprete y la visibilidad para el público (evitar el contraluz).

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Conocer la ubicación del intérprete de apoyo, así como la del resto del equipo de interpretación. 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Conocer las rutas por donde se hacen los relevos y la manera correcta de hacerlos.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Acordar con antelación los tiempos para los turnos y relevos.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Conocer las responsabilidades de los intérpretes de apoyo. 

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Disponer de abastecimiento para la hidratación.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Respetar los descansos.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Monitorear el sentido del mensaje transferido.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top En caso de interpretación por chuchotage, conocer la ubicación y los usuarios.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Guardar la confidencialidad en los servicios que se presten.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Tener cuidado de no realizar gestos de cansancio o aburrimiento (bostezar, dar cabezadas, mirar el reloj con insistencia, entre otros).

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Tener claro el momento de salida y no esperar a que los organizadores sean quien conviden a hacerlo.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Despedirse amablemente del personal que organizó el evento. 

                    .jumbotron.bg-2.mt-5.py-0
                        .row.justify-content-center.align-items-center
                            .col 
                                h2.mb-0.color-1 El análisis de las situaciones críticas en el servicio de interpretación es fundamental para saber afrontar los encargos con responsabilidad y calidad.
                            .col-auto 
                                img.img-a(src="assets/images/pages/ilustraciones/img57.png").img-fluid   

                    h1.color-1.mt-5 El día del evento es necesario:  
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Agradecimientos y reconocimientos al grupo organizador.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Conocer la persona con la que tenemos que hablar de la retribución económica.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Comprobar la satisfacción del trabajo realizado con los organizadores del evento.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Adaptar estrategias de mejoramiento y evaluación del servicio interpretación en categorías como: aptitudinales, cognitivas, sociales, y físicas.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top Aplicar estrategias de cualificación del servicio prestado.                                      

                    .hr-blue.my-5 

                    .row.justify-content-center.align-items-center.my-5
                        .col-auto 
                            a(href="media/documentos/ANEXO_11_Decreto_770_de_1982.pdf" target="_blank").media-link      

                                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo 11.] Reglamento de Protocolo y Ceremonial de la Presidencia de la República. Decreto 770 de 1982.                             

                #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                    p Durante años diferentes instituciones y entidades del país han enunciado sobre el código de ética del intérprete de lengua de señas colombiana donde se demuestre el compromiso por cuidar y mantener comportamientos profesionales, saludables y humanos. Hasta el día de hoy, dicho código está en construcción. Sin embargo, es necesario enunciar algunos valores que puedan guiar la actitud y la conducta del intérprete para que a través de su trabajo evite que se comprometa la integridad y la imagen del gremio, estimulando desde la ética, el respeto por los usuarios del servicio de interpretación tanto sordos como oyentes.  

                    #carouselExampleIndicators4.carousel.slide(data-interval='false')
                        ol.carousel-indicators
                            li.active(data-target='#carouselExampleIndicators4', data-slide-to='0')
                            li(data-target='#carouselExampleIndicators4', data-slide-to='1')
                            li(data-target='#carouselExampleIndicators4', data-slide-to='2')                           
                        .carousel-inner
                            .carousel-item.active
                                .jumbotron.bg-6.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10                                 
                                            .row.justify-content-center.align-items-center.mt-5 
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img58.png").img-fluid   

                                                .col
                                                    h2.color-1 Enfoque
                                                    h3.color-1 Por lo general, estos códigos adquieren credibilidad cuando se le vinculan estímulos...
                                            p.mt-5 Los parámetros frecuentes que cumple un código de ética, teniendo en cuenta la teoría deontológica, se enfocan en normas generales, conducta interprofesional, secreto profesional, honorarios, incompatibilidades, disposición de la labor y una resolución firmada por las personas que aprueban y construyen el código. Por lo general, estos códigos adquieren credibilidad cuando se le vinculan estímulos y sanciones que deberán cumplirse para que no pierda impacto y credibilidad y todos los intérpretes de lengua de señas colombiana deberán estar familiarizados con este código de ética.

                            .carousel-item
                                .jumbotron.bg-6.px-4
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img59.png").img-fluid 
                                                .col 
                                                    h2.color-1 Valores del intérprete de LSC
                                                    h3.color-1 Confidencialidad, la discreción, el respeto, la responsabilidad, la honradez, la solidaridad, la verdad, la paz, la imparcialidad y la modestia.
                                            p.mt-5 Los valores se refieren a las cualidades que se destacan en el intérprete y que, a su vez, le impulsan a actuar de una u otra manera ya que forman parte de sus creencias, expresan sus intereses y sus sentimientos. Algunos escritores y expertos han puesto por escrito listados de valores, sin embargo, solo se nombraran algunos que definen los comportamientos que mayor repercusión sobre los intérpretes de LSC: confidencialidad, la discreción, el respeto, la responsabilidad, la honradez, la solidaridad, la verdad, la paz, la imparcialidad y la modestia.

                            .carousel-item
                                .jumbotron.bg-6.px-4 
                                    .row.justify-content-center.align-items-center
                                        .col-10  
                                            .row.justify-content-center.align-items-center
                                                .col-auto 
                                                    img.img-a(src="assets/images/pages/ilustraciones/img60.png").img-fluid 
                                                .col 
                                                    h2.color-1 Principios del intérprete de LSC
                                                    h3.color-1 Un conjunto de códigos o normas que regulan y orientan la acción de los intérpretes.
                                            p.mt-5 Cuando se habla de principios, en este caso particular, se hace referencia a un conjunto de códigos o normas que regulan y orientan la acción de los intérpretes de lengua de señas. Aunque a la fecha están en construcción, estos principios no podrán contradecir lo que está establecido por las leyes reguladoras locales, departamentales o del estado. Dentro de esas las normas generales se encuentran las siguientes disposiciones:
                                            .list
                                                .list__item
                                                    .list__item__icon
                                                        img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                                .list__txt    
                                                    p.m-top Requisitos para ser intérprete.

                                            .list
                                                .list__item
                                                    .list__item__icon
                                                        img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                                .list__txt    
                                                    p.m-top Principios y valores éticos referidos a la labor del intérprete.

                                            .list
                                                .list__item
                                                    .list__item__icon
                                                        img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                                .list__txt    
                                                    p.m-top Código de vestimenta.

                                            .list
                                                .list__item
                                                    .list__item__icon
                                                        img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                                .list__txt    
                                                    p.m-top Conductas apropiadas e inapropiadas del intérprete.

                                            .list
                                                .list__item
                                                    .list__item__icon
                                                        img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                                .list__txt    
                                                    p.m-top Recomendaciones generales para prestar el servicio de interpretación.                                             

                        a.carousel-control-prev(href='#carouselExampleIndicators4', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleIndicators4', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next    