.container
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Cwn7HqdWvDU', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        p.mt-5 Un intérprete de lengua de señas colombiana debe conocer más que solo un par de lenguas superficialmente. El trabajo como un ser bilingüe requiere del conocimiento de otras habilidades que se describen en este componente formativo, donde además de la definición, conceptos generales y clasificación del bilingüismo; también se explica cómo es el aprendizaje de una segunda lengua y los sistemas de comunicación existentes aplicados al desarrollo de la interpretación, pasando por los procesos de recolección, creación, validación y divulgación de los neologismos que se suelen encontrar en el ejercicio de la labor de intérprete, por lo que se ahonda un poco más en el concepto base de interpretación, sus modelos, modalidades, técnicas, protocolos y el tan anhelado código de ética del intérprete de lengua de señas, que para el momento de la elaboración de este componente aún no existía en el país.